<!-- Room tab -->
<li id="{{room}}_tab"><a href="#{{room}}" data-toggle="tab"><span>{{room}}</span> <button type="button" class="close" aria-hidden="true">&times;</button></a> </li>
<!-- End Room tab -->
