<!-- User Info -->
<li class="list-group-item">
 <span class="label label-info">{{username}}</span>
 <span class="badge">{{msg}}</span>
 <input type="checkbox" class="checkbox" />
</li>
<!-- End UserInfo -->
